{% extends 'base.html' %}
{% block content %}
<h1>Admin Dashboard</h1>
<ul>
  <li><a href="{{ url_for('admin_locations') }}">Manage Locations</a></li>
  <li><a href="{{ url_for('admin_coolers') }}">Manage Coolers</a></li>
  <li><a href="{{ url_for('admin_logs') }}">View Logs</a></li>
  <li><a href="{{ url_for('report_average') }}">Average Temp Report</a></li>
  <li><a href="{{ url_for('report_missed') }}">Missed Temps Report</a></li>
  <li><a href="{{ url_for('admin_settings') }}">Settings</a></li>
</ul>
{% endblock %}
